@model Ember_Medical_Service.Models.ListOfAppointmentVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <h1>Details</h1>

        <div>
            <h4>Appointments</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Patient)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Patient.ID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Physician)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Physician.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApptDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApptDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApptTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApptTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Comment)
                </dd>
            </dl>
        </div>
        <div>
            
            <a asp-action="Index" asp-route-id="@Model.ID" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>

            <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Return to List</a>
        </div>
        </div>
