@model IEnumerable<Ember_Medical_Service.Models.MedicalHistoryVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
</p>
<table id="TableData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhysicianID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight_lb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height_cm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blood_Sugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blood_Pressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NurseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicianID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight_lb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height_cm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blood_Sugar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blood_Pressure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symptoms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    <a asp-action="Delete" asp-route-id="@item.ID" onclick="return confirm ('Do you want to delete this item?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#TableData').DataTable();
        });
    </script>
}